.wrapper-inner{
	width:700px;
	margin:0 auto;
}
#navigation{
	margin:10px auto;
	width:410px;
}

#wrapper .hide{
	display:none;
}
#wrapper ul{
	list-style:none;
	margin:0 auto;
	padding:0;
}
#wrapper li{
	float:left;
	padding:10px;
	margin:3px;
	background:#fff;
	border-bottom:1px solid #ccc;
	border-right:1px solid #ccc;
	box-shadow:1px 1px 1px #ccc;
}
#wrapper img, #wrapper li div{
	width:200px;
	height:133px;
	display:block;
}
#wrapper .container{
	position:relative;
	height:500px;
}
#wrapper .holder{
	position:absolute;
	top:0;
	left:0;
}

#li1{
	background-image: url(../images/imgs1.jpg);
	background-size:200px 133px;
}
#li2{
	background-image: url(../images/imgs2.jpg);
	background-size:200px 133px;
}
#li3{
	background-image: url(../images/imgs3.jpg);
	background-size:200px 133px;
}
#li4{
	background-image: url(../images/imgs4.jpg);
	background-size:200px 133px;
}
#li5{
	background-image: url(../images/imgs5.jpg);
	background-size:200px 133px;
}
#li6{
	background-image: url(../images/imgs6.jpg);
	background-size:200px 133px;
}
#li7{
	background-image: url(../images/imgs7.jpg);
	background-size:200px 133px;
}
#li8{
	background-image: url(../images/imgs8.jpg);
	background-size:200px 133px;
}
#li9{
	background-image: url(../images/imgs9.jpg);
	background-size:200px 133px;
}

#jSplash{
	line-height:1.7;
}
#jSplash h2{
	margin:10px 0;
	color:#14D9EE;
	text-shadow:1px 1px 1px #aaa;
	font-size:57px;
	font-family:Arial Narrow, Arial, sans-serif;
	letter-spacing:1px;
}
